@use "sass:map";
@import "./variables.scss";

// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Inter", sans-serif;
}

.base-body-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: capitalize;
}

.base-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.main-heading {
  font-size: 40px;
  font-weight: 600;
}

.main-heading1 {
  font-size: 22px;
  font-weight: 300;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-sub-heading {
  font-size: 19px;
  font-weight: 300;
}

.sub-heading {
  font-size: 14px;
  font-weight: 300;
  color: #6a818c;
}

.sub-heading1 {
  font-size: 19px;
  font-weight: 300;
  color: #6a818c;
}

.sub-heading2 {
  font-size: 23px;
  font-weight: 300;
  color: #6a818c;
}

.header {
  color: #6a818c;
  font-weight: 500;
  font-size: large;
}

.header-simple {
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #6a818c;
  font-weight: 500;
}
