$light-colors : (
    primary: #6366f1,
    secondary: #8b5cf6,
    border: #1c0e0e,
    white: #ffffff,
    dark: #000000
);

$dark-colors : (
    primary: #0f172a,
    secondary: #1e293b,
    border: #334155,
    white: #ffffff,
    dark: #000000,
    accent: #6366f1,
    accent-purple: #8b5cf6,
    accent-cyan: #06b6d4
);

$breakpoints: (
    xs: 0,
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1920px,
    xxl: 3000px
);